*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../3757c30a762387b.jpg");
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 5px;
    background: transparent;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
header h1{
    
    color:rgb(13, 73, 163) ;
}
header button{
    width: 100px;
    height: 40px;
    background: rgb(13, 73, 163);
    border: none;
    outline: none;
    border-radius: 20px;
}
header button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}